body {
  background-color: black;
}

.life-box {
  display: inline-block;
  border: 1px solid darkgrey;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
}

.ant-box {
  display: inline-block;
  border: 1px solid darkgrey;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
}

.off {
  background-color: lightgray;
}

.on {
  background-color: black;
}

.ant {
  background-color: red;
}

.box:hover {
  background: #00ccff;
}

.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.life-grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 20px white;
  margin-top: 20px;
}

.ant-grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 20px white;
  margin-top: 20px;
}

h1,
h2,
h3,
h4 {
  color: white;
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}

h4 {
  margin-top: 0px;
}

button {
  margin: 2px;
}

a {
  margin: 2px;
}
